@{
    ViewData["Title"] = "HomePage";
}

 <div class="row justify-content-center">
    <div class="card align-items-center text-bg-light mb-7 mt-5 mx-auto " style="max-width: 1000px; ">
      <div class="row g-0">
        <div class="col-md-6">
        <img style="height:95%; padding-left:5px; padding-top:15px;" src="https://img.theweek.in/content/dam/week/news/sci-tech/2019/May/laptop-project-work-project-management-software-shut.jpg" class="img-fluid rounded-start">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title fs-2 mt-4"><strong>Welcome to Eleven Courses!</strong></h5>
            <p class="card-text mt-4 "> If you are a learning lover, you are at the perfect. This is a learning platform where you can find informations, materials, books and videos from different areas. Keep going on the next pages!</p>
            <a href="#ViewCourses" class="btn btn-primary mt-2">View Courses</a>
          </div>
        </div>
      </div>
    </div>
  </div>
